<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{
            text-align: center;
            background: rgba(24, 116, 202, 0.864) url('/static/images/image_graphics.svg');
            color: azure;
        }
    </style>
</head>
<body>
    <br><br><br><br><br><br><br><br>
    You asked for password reset for email {{ email }}. Follow the link
below:
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
Your username, in case you've forgotten: {{ user.get_username }}
</body>
</html>