<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{
            text-align: center;
            background: rgba(24, 116, 202, 0.864) url('/static/images/image_graphics.svg');
            color: azure;
        }
    </style>
</head>
<body>
<br><br><br><br><br><br><br><br><br>
{% block content %}
<h1>Reset your password</h1>
{% if validlink %}
<p>Please enter your new password twice:</p>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" style="background-color:#da042a" value="Change my password"></p>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}

</body>
</html>