<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{
            text-align: center;
            background: rgba(24, 116, 202, 0.864) url('/static/images/image_graphics.svg');
            color: azure;
        }
    </style>
</head>
<body>
    <br><br><br><br><br><br><br><br><br>
{% block content %}
<h1>Password set</h1>
<p>Your password has been set. You can <a href="{% url 'home' %}">Log in now</a></p>
{% endblock %}
</body>
</html>