<!DOCTYPE html>
{% load widget_tweaks %}


  <style media="screen">
    body{
      background: rgba(5, 32, 64, 0.881) url('/static/images/image_graphics.svg');
    }
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }

    p{
      font-size: large;
      color: white;
    }
  </style>
  <body>
    {% include "vehicle/new_nav.html" %}

      <div class="jumbotron" style="margin-top: 0px; margin-bottom: 0px;"><br><br><br><br><br>
        <h1 class="display-4">Hello {{request.user.first_name}}</h1>
        <p>Your Account is not approved till now <br><br>Our Team is checking your profile <br><br> Soon you will be hired to our Agency</p>

        <p>Check Later</p>
        <br><br>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout For Now</a>
        </p>
        <br><br><br><br><br><br><br>
      </div>

{% include "vehicle/footer.html" %}
  </body>
</html>
